body {
  margin: 0;
  box-sizing: border-box;
  font-size: 18px;
  font-family: Quicksand;
  color: #2c2c30;
}

header, main, section, div, p {
  box-sizing: inherit;
  font-size: inherit;
  font-family: inherit;
  color: inherit;
}

header, section, .hero {
  margin: 0 auto;
}

header {
  width: 100%;
  height: auto;
  padding: 20px;
}

section {
  padding: 20px 35px;
  overflow: auto;
}

img {
  display: block;
}

section {
  /* width: 1200px; */
}

.hero {
  max-width: 100%;
}

.wrapper {
  width: 95%;
  max-width: 1200px;
  margin: 0 auto;
}

.logo {
  width: 80px;
  height: 64px;
  margin-right: 0;
  object-fit: cover;
  display: inline-block;
}

h1 {
  display: inline-block;
  font-size: 29px;
  margin: 0;
  vertical-align: top;
  margin-top: 15px;
  letter-spacing: 0.075em;
}

h2 {
  font-size: 32px;
  text-transform: uppercase;
}

h3 {
  margin: 5px 0;
  font-size: 24px;
  text-align: center;
}

.values {
  /* width: 1060px; */
  margin: 0 auto;
  overflow: auto;
}

.flexbox {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.single-value {
  width: 90%;
  height: auto;
  background-color: #efefef;
  margin: 15px 0;
  padding: 25px;
  border-radius: 7px;
}

.single-value p {
  text-align: justify;
}

.cats {
  background-color: #def4ff;
  border-radius: 20px;
  margin-top: 80px;
  margin-bottom: 80px;
}

.single-cat {
  position: relative;
  float: left;
  width: 300px;
  height: 550px;
  background-color: #fff;
  margin: 37px;
  border-radius: 7px;
}

.single-cat img {
  width: 300px;
  height: 200px;
  object-fit: cover;
  border-radius: 5px 5px 0 0;
}

.description {
  padding: 10px 20px;
}

button {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: orange;
  margin: 20px auto;
  padding: 10px 40px;
  border: none;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  cursor: pointer;
}

@media all and (min-width: 650px) {
  .single-value {
    width: 80%;
    max-width: 500px;
  }
}

@media all and (min-width: 850px) {
  .logo {
    width: 100px;
    height: 80px;
    margin-right: 10px;
  }

  h1 {
    font-size: 40px;
  }
}

@media all and (min-width: 1200px) {
  .flexbox {
    flex-direction: row;
    justify-content: space-around;
  }

  .single-value {
    width: 300px;
    align-self: stretch;
  }
}
